In [6]:
import streamlit as st
import pandas as pd
from PIL import Image
from glob import glob
from pathlib import Path

In [7]:
ds_list = glob(".\datasets\*.csv")
ds_list

['.\\datasets\\2008_swing_states.csv', '.\\datasets\\co2-emissions.csv']

In [8]:
ds_path = ds_list[0]
file_name = Path(ds_path).stem

'2008_swing_states'

In [9]:
Path(ds_path).suffix

'.csv'

In [12]:
df = pd.read_csv(ds_path)
df_shape = df.shape
df_shape

(222, 6)

In [13]:
df_shape[0]

222

In [14]:
df_shape[1]

6

In [16]:
column_name = list(df.columns)
column_name

['state', 'county', 'total_votes', 'dem_votes', 'rep_votes', 'dem_share']

In [17]:
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        222 non-null    object
 1   county       222 non-null    object
 2   total_votes  222 non-null    int64
 3   dem_votes    222 non-null    int64
 4   rep_votes    222 non-null    int64
 5   dem_share    222 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 10.5+ KB

In [18]:
type(df_info)

NoneType

In [19]:
pd.DataFrame(df_info)

Empty DataFrame
Columns: []
Index: []

In [27]:
df_dtypes = pd.DataFrame(df.dtypes, columns=['Dtype'])
df_dtypes.index.name='Columns'
df_dtypes

               Dtype
Columns
state         object
county        object
total_votes    int64
dem_votes      int64
rep_votes      int64
dem_share    float64

In [35]:
df.isna().sum()

Columns
state          0
county         0
total_votes    0
dem_votes      0
rep_votes      0
dem_share      0
dtype: int64

In [38]:
type(df.isna().sum())

pandas.core.series.Series

In [39]:
df.state.info()

<class 'pandas.core.series.Series'>
RangeIndex: 222 entries, 0 to 221
Series name: state
Non-Null Count  Dtype
--------------  -----
222 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

In [40]:
df.state.describe()

count     222
unique      3
top        OH
freq       88
Name: state, dtype: object