In [6]:
import streamlit as st
import pandas as pd
from PIL import Image
from glob import glob
from pathlib import Path

In [7]:
ds_list = glob(".\datasets\*.csv")
ds_list

['.\\datasets\\2008_swing_states.csv', '.\\datasets\\co2-emissions.csv']

In [8]:
ds_path = ds_list[0]
file_name = Path(ds_path).stem

'2008_swing_states'

In [9]:
Path(ds_path).suffix

'.csv'

In [12]:
df = pd.read_csv(ds_path)
df_shape = df.shape
df_shape

(222, 6)

In [13]:
df_shape[0]

222

In [14]:
df_shape[1]

6

In [16]:
column_name = list(df.columns)
column_name

['state', 'county', 'total_votes', 'dem_votes', 'rep_votes', 'dem_share']

In [17]:
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        222 non-null    object
 1   county       222 non-null    object
 2   total_votes  222 non-null    int64
 3   dem_votes    222 non-null    int64
 4   rep_votes    222 non-null    int64
 5   dem_share    222 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 10.5+ KB

In [18]:
type(df_info)

NoneType

In [19]:
pd.DataFrame(df_info)

Empty DataFrame
Columns: []
Index: []

In [27]:
df_dtypes = pd.DataFrame(df.dtypes, columns=['Dtype'])
df_dtypes.index.name='Columns'
df_dtypes

               Dtype
Columns
state         object
county        object
total_votes    int64
dem_votes      int64
rep_votes      int64
dem_share    float64

In [35]:
df.isna().sum()

Columns
state          0
county         0
total_votes    0
dem_votes      0
rep_votes      0
dem_share      0
dtype: int64

In [38]:
type(df.isna().sum())

pandas.core.series.Series

In [39]:
df.state.info()

<class 'pandas.core.series.Series'>
RangeIndex: 222 entries, 0 to 221
Series name: state
Non-Null Count  Dtype
--------------  -----
222 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

In [40]:
df.state.describe()

count     222
unique      3
top        OH
freq       88
Name: state, dtype: object

In [41]:
column_name

['state', 'county', 'total_votes', 'dem_votes', 'rep_votes', 'dem_share']

In [45]:
pd.DataFrame(df[column_name[0]].describe())

       state
count    222
unique     3
top       OH
freq      88

In [46]:
pd.DataFrame(df[column_name[0]].info())

<class 'pandas.core.series.Series'>
RangeIndex: 222 entries, 0 to 221
Series name: state
Non-Null Count  Dtype
--------------  -----
222 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB

Empty DataFrame
Columns: []
Index: []

In [48]:
df.state.isnull().sum()

0

In [54]:
df.state.nunique()

3

In [56]:
pd.nunique(df.state, axis=0)

AttributeError: module 'pandas' has no attribute 'nunique'

In [57]:
df.nunique(axis=0)

Columns
state            3
county         187
total_votes    221
dem_votes      222
rep_votes      222
dem_share      219
dtype: int64

In [75]:
pd.DataFrame(df.state.value_counts(ascending=True))

    state
PA     67
FL     67
OH     88

In [66]:
df.state.dtype == 'O'

True

In [67]:
chosen_column = 'state'

In [71]:
if df[chosen_column].dtype == 'O':
    df_unique = pd.DataFrame(df[chosen_column].value_counts(ascending=True), columns=['Count'])
    df_unique.index.name = chosen_column

In [72]:
df_unique

Empty DataFrame
Columns: [Count]
Index: []

In [74]:
df[chosen_column].value_counts(ascending=True)

PA    67
FL    67
OH    88
Name: state, dtype: int64

In [76]:
df_unique = pd.DataFrame(df[chosen_column].value_counts(ascending=True))

In [78]:
df_unique.rename(columns={'state':'count'}, inplace=True)
df_unique

    count
PA     67
FL     67
OH     88

In [79]:
df_unique.index.name = chosen_column

In [80]:
df_unique

       count
state
PA        67
FL        67
OH        88